@mixin breakpoint($bp) {

  @if $bp == mobile {
    @media (max-width: $bp-mobile) {
      @content;
    }
    }

  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }
  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }
  @if $bp == desktopxl {
  @media (max-width: $bp-desktopxl) {
    @content;
  }
  }

}

@mixin reset-list(){
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

@mixin button(){
  display: inline-block;
  background-color: $dark_blue;
  color: white;
  padding: 16px 24px;
  border-radius: 28px;
  text-decoration: none;
  &:hover {
    background-color: #666CA3;
  }
}

@mixin button-gradient-orange(){
  @include button();
  background-image: $gradient-pink-orange;
  &:hover {
    background-image: var(--Gradient-1Hover, linear-gradient(0deg, rgba(255,255,255, 0.5) 0%, rgba(255,255,255,0.5) 100%), linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%));

  }
}

@mixin button-gradient-blue(){
  @include button();
  background-image: $gradient-pink-blue;
  &:hover {
    background-image: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  }
}

@mixin button-link(){
  color: $fucsia;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}