$bp-mobile: 766px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1180px;
$bp-desktop: 1200px;
$bp-desktopxl: 1440px;

$primary-font: "Plus Jakarta Sans", sans-serif;

//colors

$dark_blue: #13183F;
$grey: #83869A;
$white: #FCFCFF;
$soft_blue: #666CA3;
$fucsia: #F74780;
$pink: #FFA7C3;
$gradient-pink-orange: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
$gradient-pink-blue: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);



