body{

    @include breakpoint(tablet) { //Mixin que al estar en tamaño de tablet, convierte el container del hero en flex
        background-position: 125% 0;
        background-size: 400px;
    }

    @include breakpoint(tablethorizontal) {
        background-position: 130% 0;
        background-size: 600px;
    }

    @include breakpoint(desktop) {
        background-position: 108% -20px;
        background-size: 500px;
    }
}
